{
  "extends": ["prettier", "react-app"],
  "plugins": ["prettier", "no-only-tests"],
  "env": {
    "node": true
  },
  "globals": {
    "expect": true,
    "browser": true
  },
  "rules": {
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "no-await-in-loop": 0,
    "class-methods-use-this": 0,
    "no-unused-expressions": 0,
    "no-only-tests/no-only-tests": ["error"],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect"
      }
    ],
    "no-param-reassign": 0,
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "multiline-expression",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": ["const"],
        "next": ["let"]
      },
      {
        "blankLine": "always",
        "prev": ["let"],
        "next": ["const"]
      }
    ],

    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}
